
<div class="container">
    <div class="row text-center pt-3">
        <div class='col'><h3>BirdnestOrder</h3></div>
    </div><br>
<div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Floor</th>
            <th>Street</th>
            <th>Township</th>
            <th>State</th>
            <th>Package</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderService.orders">
            <td>{{order.id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.no_floor}}</td>
            <td>{{order.street}}</td>
            <td>{{order.township}}</td>
            <td>{{order.state}}</td>
            <td>{{order.package}}</td>
            <td>{{order.date}}</td>
          </tr>
         
        </tbody>
      </table>
</div>
</div>